<div id="headDiv" class="leftDiv">
  <ul id="navigation">
    <li>
      <div class="menu-frist" style=" margin-top:-1px;">
        <i class="ico ico-work"></i><span>通用管理</span>
      </div>
      <ul class="navigation-tab-content plain">
        <li class="nav-administer-service">
          <a routerLink="test/one" routerLinkActive="active">
            <i class="ico ico-sub ico-wms"></i><span>工作区</span>
          </a>
        </li>
        <li class="nav-administer-service">
          <a routerLink="/spatialdataset" routerLinkActive="active">
            <i class="ico ico-sub ico-wms"></i><span>空间数据集</span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <div class="menu-frist" style=" margin-top:-1px;">
        <i class="ico ico-layer"></i><span>服务图层</span>
      </div>
      <ul class="navigation-tab-content plain">
        <li class="nav-administer-service">
          <a routerLink="/servicelayer/wms" routerLinkActive="active">
            <i class="ico ico-sub ico-wms"></i><span>WMS</span>
          </a>
          <a routerLink="/servicelayer/wts" routerLinkActive="active">
            <i class="ico ico-sub ico-wms"></i><span>WTS</span>
          </a>
          <a routerLink="/servicelayer/wgs" routerLinkActive="active">
            <i class="ico ico-sub ico-wms"></i><span>WGS</span>
          </a>
        </li>
      </ul>
    </li>

    <li>

    </li>
  </ul>
</div>
